.hide{
    display: none;
}

body {

    text-align: center;
    border: 8px solid #1C6EA4;
    font-size: 25px;
    background-color: lightblue;
}

div {
    padding: 25px 25px 25px 25px;
}

.choice{
    margin: 3px;
}